
  <!DOCTYPE html>
  <html lang="en">
    <head>
      
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>作品集网站项目页还原</title>
      <meta name="description" content="Showcase your projects with a visually appealing portfolio site that allows creatives to present their work effectively and attract potential clients." />
      <meta name="robots" content="noindex, nofollow" />
      <style>html, body { height: 100%; margin: 0; } #root { height: 100%; }</style>
      
      <script type="module" crossorigin src="/assets/index-D9wco5ta.js"></script>
      <link rel="stylesheet" crossorigin href="/assets/index-8jQIodu9.css">
    </head>

    <body>
      
      <div id="root"></div>
      
    </body>
  </html>
  